# Virtual environment
venv/
.env/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Flask
instance/
.webassets-cache

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/

# Testing
.pytest_cache/

# Migrations (if using Alembic – OPTIONAL)
#migrations/
